<h1>Movies Category List</h1>
<div>
<ol>
  <% @lists.each do |list|%>
  <p>
<% if list.photo.present? %>
<%= cl_image_tag list.photo.key, height: 300, width: 200, crop: :fill %>
<% else %>
  <% list.bookmarks.each_with_index do |bookmark, index|%>
  <%if index == 0%>
    <img src="<%= bookmark.movie.poster_url%>" alt="poster" width="200">
    <% end %>
  <% end %>
<% end %>
  </p>
   <li> <%= link_to list.name, list_path(list) %>
   <%= link_to "Delete", list_path(list),
  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
<% end %>
</ol>
</div>

<%= link_to "Create a list", new_list_path%>
